#section {
  padding: 10px;
  padding-top: 1px;
  border-color: blue;
  height:auto;
  text-align: left;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}
.sectionList {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
